/* root variables (light mode) */
:root {
   --bg-color: #f8f9f6;
   --section-bg: #ffffff;
   --text-color: #1f2d27;
   --muted-text: #5f6f67;
   --primary-green: #4a6f5d;
   --accent-green: #7fb49a;
  
   --error-color: #b00020;
}

/* dark mode variables */
body.dark-mode {
    --bg-color: #1f2d27;
    --section-bg: #263a32;
    --text-color: #f2f5f1;
    --muted-text: #b9c7bf;
    --primary-green: #7fb49a;
    --accent-green: #a7d7c5;
    --border-color: #3a4f45;
}

/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color:var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

img {
    max-width: 100%;
    display: block;
}

section {
    padding: 60px 0;
}

h1, h2, h3{
    font-weight: 600;
}

a {
    color: inherit;
    text-decoration: none;
}

/* fixed width */
header, section, footer {
    max-width: 1280px;
    margin: 0 auto;
}

/* header & navigation*/
header {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--section-bg);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: medium;
    letter-spacing: 2px;
}

nav a {
    font-size: medium;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    margin: 0;
   padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}

#themeToggle {
    border: none;
    background: none;
    font-size: medium;
    cursor: pointer;
    color: var(--text-color);
}

/* hero section */
.hero {
    text-align: center;
    padding: 90px 0px;
}

.hero h2 {
    font-size: x-large;
    margin-bottom: 20px;
}

.hero p {
    font-size: medium;
    margin-bottom: 30px;
    color: var(--muted-text);
}

.cta-button {
    padding: 12px 30px ;
    background-color: var(--primary-green);
    color: var(--section-bg);
    border-radius: 4px;
    font-size: medium;
}

.cta-button:hover {
    background-color: var(--accent-green);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* about section */
.about-content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 90px 0;
    background-color: var(--border-color);
    border-top: 3px solid var(--border-color);
}

.about-text h2 {
    font-size: x-large;
    margin-bottom: 16px;
}

/* matcha section */
.matcha-content {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10px 0;
}
.matcha-text h2 {
    font-size: x-large;
    margin-bottom: 40px;

}

.matcha-text h3 {
    font-size: large;
    margin-bottom: 16px;
}

/* products section */
.product-controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.product-controls button {
    padding: 20px 40px;
    background-color: var(--primary-green);
    color: var(--text-color);
    border-radius: 8px;
    font-size: medium;
}

.product-controls button:hover {
    background-color: var(--accent-green);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.product-display h3 {
    margin-top: 20px;
    margin-bottom: 16px;
}

/* guess game section */
.game {
    text-align: center;
    background-color:var(--section-bg);
}

.gameForm {
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 60px;
}

.gameForm input {
    padding: 12px;
    width: 200px;
    border-radius: 4px;
    margin-right: 10px;
}

.gameForm button {
    padding: 12px 30px;
    background-color: var(--primary-green);
    color: var(--section-bg);
    border-radius: 4px;
    font-size: medium;
}

.gameForm button:hover {
    background-color: var(--accent-green);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.gameResults {
    margin-top: 20px;
}

.gameMessage {
    font-size: xx-large;
    color: var(--muted-text);
}

/* contact section */
.contact form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact label{
    display: block;
    margin-top: 20px;
}

.contact form input, .contact form textarea {
    padding: 20px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    width: 100%;
    margin-top: auto;
    color: var(--bg-color);
}

.contact textarea {
    resize: vertical;
    min-height: 100px;
}

fieldset {
    border: 3px solid var(--border-color);
    margin-top: 20px;
}

legend {
    margin-bottom: 10px;
}

.contact button {
    padding: 12px 30px;
    background-color: var(--primary-green);
    color: var(--section-bg);
    border-radius: 4px;
    font-size: medium;
    border: none;
    cursor: pointer;
}

.contact button:hover {
    background-color: var(--accent-green);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.error {
    color: var(--error-color);
    font-size: medium;
}

#formSuccessMessage {
    margin-top: 20px;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

/* footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: var(--section-bg);
    border-top: 1px solid var(--border-color);
    font-size: medium;
}